/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: "Orbitron", sans-serif;
    background-color: #333;
    color: #fff;
    line-height: 1.6;
    padding: 0 5%;
    animation: backgroundTransition 10s infinite;
}

/* Animação de transição de cor de fundo */
@keyframes backgroundTransition {
    0% {
        background-color: #222;
    }
    25% {
        background-color: #333;
    }
}

/* Navbar */
header {
    background-color: transparent;
    border-radius: 2%;
    border: 0.2% solid #fff;
    padding: 1% 0;
    z-index: 10;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 2% 0;
    list-style: none;
    z-index: 10;
    position: relative;
}

.navbar li {
    position: relative;
    margin: 0 2%;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    font-weight: 450;
    font-size: 1.6rem;
    padding: 2% 0;
    letter-spacing: 1px;
    transition:
        color 0.3s,
        transform 0.3s;
}

.navbar li a:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.8);
    text-shadow: 0 0 15px rgba(74, 144, 226, 0.8);
    padding: 0.5rem 1rem; /* Adiciona espaço extra ao redor das letras */
    border-radius: 12px; /* Bordas arredondadas */
    background-color: rgba(74, 144, 226, 0.2); /* Fundo levemente azul */
    transition: all 0.3s ease;
}

/* Submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 12px 20px;
    list-style: none;
    border-radius: 4%;
    z-index: 20;
}

.navbar li:hover .submenu {
    display: block;
}

.submenu li {
    margin: 5% 0;
}

.submenu li a {
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.submenu li a:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.8);
    text-shadow: 0 0 15px rgba(74, 144, 226, 0.8);
    padding: 0.5rem 1rem; /* Adiciona espaço extra ao redor das letras */
    border-radius: 12px; /* Bordas arredondadas */
    background-color: rgba(74, 144, 226, 0.2); /* Fundo levemente azul */
    transition: all 0.3s ease;
}
/* Slider */
.slider {
    position: relative;
    width: 90%;
    height: 80vh;
    margin: -1% auto 3% auto;
    overflow: hidden;
    border-radius: 2%;
    background-color: #333;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

/* Main Content */
main {
    padding: 1%;
}

section {
    margin: 1% 0;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 2%;
    background-color: transparent;
    color: white;
    border-radius: 2%;
    border-top: 0.2% solid #fff;
    margin-top: 3%;
}

/* Responsivo */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar li {
        margin: 3% 0;
    }

    .slider {
        height: 60vh;
    }
}

/* Canvas - animação */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca o canvas atrás do conteúdo */
}

h2 {
    text-align: center;
}

/* Estilos para a seção de comparação */
#comparacao {
    margin: 3% auto;
    text-align: center;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#comparacao h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 2%;
}

.comparacao-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2%; /* Espaço entre os containers */
}

.comparacao-container div {
    flex: 1;
    max-width: 45%;
    text-align: center;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5%;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.comparacao-container div:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(74, 144, 226, 0.5);
}

.comparacao-container img {
    width: 80%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.comparacao-container h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.comparacao-container p {
    font-size: 1rem;
    color: #ddd;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 5%;
}


/* Estilos para o formulário de contato */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #ddd;
    font-size: 1rem;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #333;
    color: white;
    font-size: 1rem;
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4a90e2;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #357abd;
}
